<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Molecules   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by molecule name:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filter by molecule name: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table' *ngIf='molecules && molecules.length'>
                <thead>
                    <tr>
                        <th>Molecule</th>
                        <th>Formula</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let molecule of molecules | moleculeFilter:listFilter'>
                        <td> <a [routerLink]="['/molecule', molecule.moleculeId]">
                            {{molecule.moleculeName}}
                            </a>
                        </td>
                        <td>{{ molecule.formula }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>