<div class='panel panel-primary' *ngIf='molecule'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + molecule.moleculeName + ' (' + molecule.formula + ')'}}
    </div>

    <div class='panel-body'>
        <div class="row">
            <mm-molecule-diagram 
                [structure]='molecule.structure'>
            </mm-molecule-diagram>
        </div>
    </div>


    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>